/*gradients.css*/
.gradient--text {
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
}
.gradient--orange {
    background: #e60000;
    background: linear-gradient(90deg, #e60000 0, #f28300 100%);
}

#site-background.active {
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;

    background: url('/img/leeds-dock.jpg') no-repeat 100% / cover;

    -webkit-filter: blur(5px) grayscale(60%);
    -moz-filter: blur(5px) grayscale(60%);
    -o-filter: blur(5px) grayscale(60%);
    -ms-filter: blur(5px) grayscale(60%);
    filter: blur(5px) grayscale(60%);
}
