/*gradients.css*/
.gradient--text {
    -webkit-text-fill-color: transparent !important;
    -webkit-background-clip: text !important;
}
.gradient--orange {
    background: #e60000;
    background: linear-gradient(120deg, #e60000 0, #f28300 100%);
}
