.grid {
    position: relative;
}

.grid__wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 -0.75em;
}

.grid__item {
  display: flex;
  flex: 0 25%;
  padding: 0.75em;
}

.grid--2col .grid__item {
  flex: 0 50%;
}

@media all and (max-width: 800px) {
  .grid__item {
    flex: 0 50%;
  }
}

@media all and (max-width: 600px) {
  .grid__wrap {
    margin: 0 -0.5em;
  }

  .grid__item {
    padding: 0.5em;
  }
}

@media all and (max-width: 430px) {
  .grid__item {
    flex: 0 100%;
  }
}

