/*search.css*/
.search {
  display: block;
  position: relative;
  font-size: 1em;
  max-width: 400px;
  z-index: 100;
  float: left;
  padding: 21px 0;
}

.search__input {
  width: 100%;
  font-family: skytext;
  font-size: 1em;
  padding: 0.3em 1.5em 0.3em 0.5em;
  border: 1px solid #ccc;
  text-transform: lowercase
}

.search__button {
  background: 0;
  border: 0;
  position: absolute;
  width: 3.5em;
  height: 36px;
  right: 0;
  overflow: hidden;
}

.search__icon {
  width: 2em;
  height: 2em;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  fill: #ccc;
  position: absolute;
}

.search__button > span {
  visibility: hidden
}

.search__results {
  position: absolute;
  width: 100%;
  text-align: left;
  padding: 0.25em 1em;
  list-style: none;
  border: 1px solid #ccc;
  opacity: 1;
  transition: opacity 0.1166s;
  background: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  max-height: 400px;
  max-height: 40vh;
  overflow: auto;

}

.search__results:empty {
  opacity: 0;
}

.search__results > li {
  border-bottom: 1px solid #ccc;
}

.search__results > li:nth-child(8n) {
    display: none;
}

.search__results > li:last-of-type {
  border-bottom: 0;
}

.search__results > li > a {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
  color: #555;
  font-size: 0.95em;
  cursor: pointer;
}

.search__results > li > a > strong {
  font-size: 1.1em;
}

.search__results > li > a > p {
  font-size: 0.9em;
}


@media (max-width: 600px){
    .search {
        float: none;
        max-width: 100%;
    }
}
