.site-nav {
	float: right;
}

.site-nav__list {
	list-style: none;
	margin: 24px 0;
	padding: 0;
}

.site-nav__item {
	display: inline-block;
	margin: 0 12px 0 12px;
}

.site-nav__link {
	padding: 0 0 2px;
	color: #000;
	text-decoration: none;
}

.site-nav__link:hover {
	color: #e60000;
	border-bottom: 1px solid #ccc;
}

@media (max-width: 600px){
    .site-nav {
        float: none;
    }
    .site-nav__list {
        margin: 0;
    }

}
