<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SkyFace@LeedsDock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/css/myface.css" rel="stylesheet">
  </head>

  <body>
    <div class="grid">
      <div class="grid__wrap">
        <div class="grid__item">
          <div class="tile"></div>
        </div>

        <div class="grid__item">
          <div class="tile"></div>
        </div>

        <div class="grid__item">
          <div class="tile"></div>
        </div>

        <div class="grid__item">
          <div class="tile"></div>
        </div>

        <div class="grid__item">
          <div class="tile"></div>
        </div>

        <div class="grid__item">
          <div class="tile"></div>
        </div>

        <div class="grid__item">
          <div class="tile"></div>
        </div>

        <div class="grid__item">
          <div class="tile"></div>
        </div>

        <div class="grid__item">
          <div class="tile"></div>
        </div>

        <div class="grid__item">
          <div class="tile"></div>
        </div>
      </div>
    </div>
  </body>
</html>