<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/myface.css">
</head>
<body>
  
</body>
</html>

<div class="search">
  <div class="search__body">
    <input class="search__input" placeholder="search people"><button class="search__button" type="submit">
<?xml version="1.0" encoding="iso-8859-1"?>
<svg class="search__icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 192.804 192.804" xml:space="preserve">
<path d="M10.607,192.803l62.401-62.402c13.063,10.67,29.263,16.475,46.356,16.475c0.002,0,0.001,0,0.002,0
  c19.614,0,38.058-7.639,51.927-21.509c13.871-13.87,21.511-32.313,21.51-51.931c-0.001-19.616-7.64-38.058-21.509-51.928
  C157.425,7.639,138.982,0,119.365,0C99.749,0,81.307,7.639,67.437,21.509C53.565,35.38,45.927,53.823,45.928,73.44
  c0,17.094,5.805,33.294,16.475,46.355L0,182.197L10.607,192.803z M60.928,73.44c-0.001-15.611,6.078-30.287,17.116-41.324
  C89.081,21.078,103.756,15,119.365,15c15.61,0,30.285,6.078,41.322,17.115s17.116,25.712,17.116,41.322
  c0,15.611-6.078,30.286-17.116,41.324c-11.037,11.038-25.712,17.116-41.321,17.116c-15.61-0.001-30.286-6.079-41.323-17.116
  C67.006,103.724,60.928,89.05,60.928,73.44z"/>
</svg>
<span>search</span></button>
  </div>
  <ul class="search__results" aria-hidden="true"></ul>

  <script>

    window.skyFaceData = {
        "tribes": [
            {
                "id": 1,
                "name": "Content",
                "image": "http:\/\/s2.uswitchstatic.com\/_img\/library\/news_image\/sky_tv_color_logo_634x306x24_expand_ha5ab3ba9.jpg",
                "background": "https:\/\/danmayes.files.wordpress.com\/2012\/07\/sky-news-studio.jpeg"
            }
        ],
        "squads": [
            {
                "id": 1,
                "name": "Vrataski",
                "image": "http:\/\/s2.uswitchstatic.com\/_img\/library\/news_image\/sky_tv_color_logo_634x306x24_expand_ha5ab3ba9.jpg",
                "tribe": {
                    "id": 1,
                    "name": "Content",
                    "image": "http:\/\/s2.uswitchstatic.com\/_img\/library\/news_image\/sky_tv_color_logo_634x306x24_expand_ha5ab3ba9.jpg",
                    "background": "https:\/\/danmayes.files.wordpress.com\/2012\/07\/sky-news-studio.jpeg"
                }
            }
        ],
        "people": [
            {
                "id": 1,
                "title": "Dr",
                "name": "Jamie Hobbs",
                "dob": "1990-12-04",
                "email": "jamie.hobbs@sky.uk",
                "phone": "0123456789",
                "slackname": "@jamie.hobbs",
                "discipline": [
                    "Developer",
                    "QA",
                    "Scrum Master"
                ],
                "startDate": "2015-12-04",
                "image": "http:\/\/webneel.com\/sites\/default\/files\/images\/project\/best-portrait-photography-regina-pagles%20(10).jpg",
                "squad": {
                    "id": 1,
                    "name": "Vrataski",
                    "image": "http:\/\/s2.uswitchstatic.com\/_img\/library\/news_image\/sky_tv_color_logo_634x306x24_expand_ha5ab3ba9.jpg",
                    "tribe": {
                        "id": 1,
                        "name": "Content",
                        "image": "http:\/\/s2.uswitchstatic.com\/_img\/library\/news_image\/sky_tv_color_logo_634x306x24_expand_ha5ab3ba9.jpg",
                        "background": "https:\/\/danmayes.files.wordpress.com\/2012\/07\/sky-news-studio.jpeg"
                    }
                }
            },
            {
                "id": 2,
                "title": "Dr",
                "name": "Jamie Hobbs",
                "dob": "1990-12-04",
                "email": "jamie.hobbs@sky.uk",
                "phone": "0123456789",
                "slackname": "@jamie.hobbs",
                "discipline": [
                    "Developer",
                    "QA",
                    "Scrum Master"
                ],
                "startDate": "2015-12-04",
                "image": "http:\/\/webneel.com\/sites\/default\/files\/images\/project\/best-portrait-photography-regina-pagles%20(10).jpg",
                "squad": {
                    "id": 1,
                    "name": "Vrataski",
                    "image": "http:\/\/s2.uswitchstatic.com\/_img\/library\/news_image\/sky_tv_color_logo_634x306x24_expand_ha5ab3ba9.jpg",
                    "tribe": {
                        "id": 1,
                        "name": "Content",
                        "image": "http:\/\/s2.uswitchstatic.com\/_img\/library\/news_image\/sky_tv_color_logo_634x306x24_expand_ha5ab3ba9.jpg",
                        "background": "https:\/\/danmayes.files.wordpress.com\/2012\/07\/sky-news-studio.jpeg"
                    }
                }
            },
            {
                "id": 3,
                "title": "Dr",
                "name": "Bernie Hobbs",
                "dob": "1990-12-04",
                "email": "jamie.hobbs@sky.uk",
                "phone": "0123456789",
                "slackname": "@jamie.hobbs",
                "discipline": [
                    "Developer",
                    "QA",
                    "Scrum Master"
                ],
                "startDate": "2015-12-04",
                "image": "http:\/\/webneel.com\/sites\/default\/files\/images\/project\/best-portrait-photography-regina-pagles%20(10).jpg",
                "squad": {
                    "id": 1,
                    "name": "Vrataski",
                    "image": "http:\/\/s2.uswitchstatic.com\/_img\/library\/news_image\/sky_tv_color_logo_634x306x24_expand_ha5ab3ba9.jpg",
                    "tribe": {
                        "id": 1,
                        "name": "Content",
                        "image": "http:\/\/s2.uswitchstatic.com\/_img\/library\/news_image\/sky_tv_color_logo_634x306x24_expand_ha5ab3ba9.jpg",
                        "background": "https:\/\/danmayes.files.wordpress.com\/2012\/07\/sky-news-studio.jpeg"
                    }
                }
            }
        ]
    };

    (function(){

      function find(data,search){

        var foundAll = [];

        var people = data.people;
        
        for(var i=0; i< people.length;i++){
          var object = people[i];
          
          for (key in object){
            
            var keySearch = (object[key].toString()).toLowerCase();
            if( keySearch.indexOf(search) != -1 ){
              if(foundAll.indexOf(object) == -1){
                foundAll.push(object);
              }
            }
          }
        }

        return foundAll;
      }


      function getPersonDetail( person, what){

        var detail={};
        for(var i=0;i<what.length;i++){
          if(person.hasOwnProperty(what[i])){
            detail[what[i]] = person[what[i]];
          }
        }
        return detail;
      }


      function createCss(){


      }

      function createResults(results){

        var html = '';
        results.forEach(function(item){
          html += template.replace(/#{name}/,item.name).replace(/#{details}/,item.discipline.join(','));
        });

        console.log(html);

        return html;

      }

      var searchBox = document.querySelector('.search__input');
      var searchResults = document.querySelector('.search__results');
      var template = "<li><a href='#' onclick='filter()'><h5>#{name}</h5><p>#{details}</p></a></li>";

      var style = document.createElement('style');
      document.head.appendChild(style);

      searchBox.onkeydown = function(e){
        var html = '';
        if(searchBox.value.length > 1){
          html = createResults(find(window.skyFaceData, searchBox.value));
        }

        searchResults.innerHTML = html;
      }

    })();



    </script>
</div>