<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="/css/myface.css" rel="stylesheet">

</head>
<body>
<div class="wrapper">
    <a href="" class="tile">
        <div class="tile__inner">
            <div class="tile__image-wrap">
                <img class="tile__image" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcTRoo5CFMb8abV_UwofNKDn9vd2U-D9YAQT7FmhST8pu-9wdg3v1w">
            </div>
            <div class="tile__body">
                <h2 class="tile__heading">Jo Tomlinson</h2>
                <h3 class="tile__sub-heading">Associate Software Developer</h3>
            </div>
        </div>
    </a>
</div>

</body>
</html>